body {
  font-family: 'Roboto Slab', 'Georgia', 'Times New Roman';
  color: rgba(250, 10, 10, 1);
}

.main-div {
  background-color: #34495E;
  height: 80px;
  padding:0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

ul, li {
  display: inline;
}

li + li {
  margin-left: 20px;
}

a {
  align-content: center;
  text-decoration: none;
  color:#E5E7E9;
  padding: 10px;
}

a:hover{
  color: #E5E7E9;
}

.hvr-fade:hover {
background-color: #566573;
}

.photo-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 500px;
  background-image: url('b-g.jpg');
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 
#spn-1{
  color: black;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Roboto slab';
}

#spn-2{
  color: #232322;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Roboto slab';
}

h1 ul {
  padding: 0;
  position: absolute;
  top: 46px;
  left: 0;
  width: 200px;
  display: none;
}

h1 ul li {
  background: #34495E;
  display: block;
  color: #fff;
}

h1 ul li:hover {background: #566573;}

h1:hover ul {
  display: block;
}